#progress-bar-container
  .bar-bg
  .notches
    .notch.notch-main Life Noob
    .notch.notch-small
    .notch 10
    .notch.notch-small
    .notch 20
    .notch.notch-small
    .notch 30
    .notch.notch-small
    .notch 40
    .notch.notch-small
    .notch 50
    .notch.notch-small
    .notch 60
    .notch.notch-small
    .notch 70
    .notch.notch-small
    .notch 80
    .notch.notch-small
    .notch 90
    .notch.notch-small
    .notch.notch-main Die Happy
  .users