= render partial: 'todos/progress_bar'
#todos
  #user-select
    %a.user-switch.user-switch-left{href: "javascript:void(0)"}
    .pic-frame
    %a.user-switch.user-switch-right{href: "javascript:void(0)"}
  %input#new-todo{type: "text", placeholder: "What do you want to do before you die?"}/
  #lists-container